@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  margin: 0.5rem;
}

div {
  border: 1px solid rgb(166, 162, 162);
  padding: 2rem;
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  color: rgb(55, 50, 50);
}

.input {
  border: 1px solid rgb(166, 162, 162);
  margin: 0.5rem;
  border-radius: 5px;
  padding: 3px 10px;

}

input::placeholder {
  color: rgb(111, 89, 89);
}

.button {
  border-radius: 5px;
  padding: 3px 10px;
  background-color: white;
  border: 1px solid rgb(166, 162, 162);
  color: rgb(55, 50, 50);
}

.start-body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 79vh;
  width: 100%;
  background-color: rgb(228, 228, 228);
}

.start-screen {
  background-color: white;
}